bin/
obj/
/.vs
/.vs/CPR/CopilotIndices/17.14.1231.31060/CodeChunks.db
/.vs/CPR/DesignTimeBuild/.dtbcache.v2
/.vs/CPR/v17/.suo
/.vs/CPR/v17/DocumentLayout.backup.json
/.vs/CPR/v17/DocumentLayout.json
/CPR.API/bin/Debug/net9.0/appsettings.json
/CPR.API/bin/Debug/net9.0/CPR.API.deps.json
/CPR.API/bin/Debug/net9.0/CPR.API.dll
/CPR.API/bin/Debug/net9.0/CPR.API.exe
/CPR.API/bin/Debug/net9.0/CPR.API.pdb
/CPR.API/obj/Debug/net9.0/EndpointInfo/CPR.API.json
/CPR.API/obj/Debug/net9.0/ref/CPR.API.dll
/CPR.API/obj/Debug/net9.0/refint/CPR.API.dll
/CPR.API/obj/CPR.API.csproj.nuget.dgspec.json
/CPR.API/obj/project.assets.json
/CPR.API/obj/project.nuget.cache
/CPR.API/CPR.API.csproj.user
/CPR.API/Migrations
/CPR.API/bin/Debug/net9.0/CPR.API.runtimeconfig.json
/CPR.API/obj/CPR.API.csproj.nuget.g.props
/CPR.API/obj/CPR.API.csproj.nuget.g.targets
